<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>실시간차트</title>
    <script type="text/javascript" th:src="@{/echart/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/echart1/echarts.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
</head>
<script>

    $(function(){
        var myChart = echarts.init(document.getElementById('main'));
        var app = {};
        var option;

        function randomData() {
            now = new Date(+now + oneDay);
            value = value + Math.random() * 21 - 10;
            return {
                name: now.toString(),
                value: [
                    [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'), Math.round(value)
                ]
            };
        }

        var a = Math.random() * 21 - 10;
        console.log("이건머지", a);


        var data = [];
        var now = new Date(2022, 1, 1);
        var oneDay = 24 * 3600 * 1000;
        var value = Math.random() * 1000;

        for (var i = 0; i < 10000; i++) {
            data.push(randomData());
        }

        option = {
            title: {
                text: 'EChartDynamicLine Test'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    var date = new Date(params.name);
                    return (
                        date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' : ' + params.value[1]
                    );
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [
                {
                    name: 'Fake Data',
                    type: 'line',
                    showSymbol: false,
                    data: data
                }
            ]
        };
        setInterval(function () {
            for (var i = 0; i < 5; i++) {
                data.shift();
                data.push(randomData());
            }
            myChart.setOption({
                series: [
                    {
                        data: data
                    }
                ]
            });
        }, 1000);

        myChart.setOption(option);
    })






    var myChart = echarts.init(document.getElementById('chart01'));

    var tempData1 = new Array();
    var tempData2 = new Array();
    var tempData3 = new Array();
    var tempData4 = new Array();
    var tempData5 = new Array();
    var tempData6 = new Array();
    var tempXAxis = new Array();
    for(var i = 1; i <= 10000; i++){
        tempData1.push(Math.random()*100);
        tempData2.push(Math.random()*100);
        tempData3.push(Math.random()*100);
        tempData4.push(Math.random()*100);
        tempData5.push(Math.random()*100);
        tempData6.push(Math.random()*100);
        /* tempData1.push(i);
        tempData2.push(i);
        tempData3.push(i);
        tempData4.push(i);
        tempData5.push(i);
        tempData6.push(i); */
        tempXAxis.push('');
    }

    var option;

    option = {
        title: {
            text: 'Stacked Line'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Test1', 'Test2', 'Test3', 'Test4', 'Test5', 'Test6']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: tempXAxis
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: 'Test1',
                type: 'line',
                stack: 'Total',
                data: tempData1
            },
            {
                name: 'Test2',
                type: 'line',
                stack: 'Total',
                data: tempData2
            },
            {
                name: 'Test3',
                type: 'line',
                stack: 'Total',
                data: tempData3
            },
            {
                name: 'Test4',
                type: 'line',
                stack: 'Total',
                data: tempData4
            },
            {
                name: 'Test5',
                type: 'line',
                stack: 'Total',
                data: tempData5
            },
            {
                name: 'Test6',
                type: 'line',
                stack: 'Total',
                data: tempData6
            }
        ]
    };

    myChart.setOption(option);







</script>
<body>
<div id="main" style="width: 400px;height:400px;">
</div>



</body>


</html>